#behold{
   display: inline-block; 
}

#goodjob{
    display: table;
}

body {
    background-image: url("http://static.vecteezy.com/system/resources/previews/000/085/879/non_2x/vintage-kitchen-utensils-vectors.jpg");
}

#under{
    background-image: url("http://previews.123rf.com/images/mistac/mistac1207/mistac120700005/14323020-A-cartoon-building-site-with-under-construction-sign-Stock-Vector.jpg");
}